{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add Console Stock {% endblock %}</h1>
    <form method="POST">
        <label for="name"><h2>Console Code</h2></label>
        <br>
        {% for console_name in console_names %}
        <input type="radio" id="{{ console_name.code_name }}" name="nameoptions" value="{{ console_name.code_name }}"> {{ console_name.full_name }} </input><br>
        {% endfor %}
        <br>

        <label for="model"><h2>Model</h2></label><br>
        <input type="text" name="model" placeholder="Model number" rows="1" cols="15"><br><br>

        <label for="board"><h2>Board Revision</h2></label><br>
        <input type="text" name="board" placeholder="Board" rows="1" cols="15"><br><br>

        <label for="mods"><h2>Mods Installed</h2></label><br>
        <textarea name="mods" placeholder="Mods Installed. Leave blank if stock." rows="5" cols="30">{{ request.form['mods'] }}</textarea><br>

        <label for="cost"><h2>Product Cost</h2></label><br>
        <input type="text" name="cost" placeholder="Dollar amount..." rows="1" cols="15"><br><br>
        
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}