{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a new Product to the DB {% endblock %}</h1>
    <form method="POST">
        <label for="name">System Name</label>
        <br>
        <input type="radio" id="PSX" name="nameoptions" value="PSX"> Playstation </input><br>
        <input type="radio" id="SAT" name="nameoptions" value="SAT"> Sega Saturn </input><br>
        <input type="radio" id="GEN" name="nameoptions" value="GEN"> Sega Genesis </input><br>
        <input type="radio" id="N64" name="nameoptions" value="N64"> N64 </input><br>
        <input type="radio" id="SFC" name="nameoptions" value="SFC"> SNES </input><br>
        <input type="radio" id="NES" name="nameoptions" value="NES"> NES </input><br>
        <input type="radio" id="GB" name="nameoptions" value="GB"> Game Boy </input><br>
        <br>

        <label for="model">Model</label><br>
        <input type="text" name="model" placeholder="Model number" rows="1" cols="15"><br>

        <label for="board">Board Revision</label><br>
        <input type="text" name="board" placeholder="Board" rows="1" cols="15"><br>
        
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}