{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Item View {% endblock %}</h1>
    <h2>Item Details</h2>
        <div class='result'>
            {% if result|length <= 0 %}
                <p>No results found.</p>
            {% else %}
            <p><img src="{{ url_for('static', filename='/qrcodes/') }}{{ result[0]['ProductCode']}}.png">
            <img src="{{ url_for('static', filename='/images/') }}{{ result[0]['ProductName']}}.png" class="img-responsive" style="width:500px"></p>
            <p>Product Name: {{ result[0]['ProductName'] }}</p>
            <p>Acquired Date: {{ result[0]['AcquiredDate'] }}</p>
            <p>Console Model: {{ result[0]['ConsoleModel'] }}</p>
            <p>Board Revision: {{ result[0]['ConsoleBoard'] }}</p>
            <p>Product Code: {{ result[0]['ProductCode'] }}</p>
            <p>Mods Installed: {{ result[0]['ConsoleMods'] }}</p>
            {% if result[0]['ProductSold'] == 0 %}
            <p>Product available for sale</p>
            {% else %}
            <p>Product sold.</p>
            {% endif %}
        </div>
        <div class="tools">
            <form method="POST">
            <h4>Tools</h4>
            {% if result[0]['ProductSold'] == 0 %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="1" name="itemsold">
                    Mark this item as sold
                </label>
            </div>
            {% else %}
            <div class="checkbox disabled">
                <label>
                    <input type="checkbox" value="0" checked="checked" name="itemsold" disabled>
                    Mark this item as sold
                </label>
            
            </div>
            {% endif %}
            <br>
            <div>
                <h5>Add Mods</h5>
                {% if result[0]['ProductSold'] == 0 %}
                <textarea name="mods" rows="5" cols="30">{{ result[0]['ConsoleMods'] }}</textarea><br>
                {% else %}
                <textarea name="mods" rows="5" cols="30" disabled>{{ result[0]['ConsoleMods'] }}</textarea><br>
                {% endif %}
            </div>

            <br>
            {% if result[0]['ProductSold'] == 0 %}
            <button type="submit">Save Changes</button>
            {% else %}
            <button type="submit" disabled>Save Changes</button>
            {% endif %}
            <input type="submit" value="Delete Item" name="delete">
        </form>
        </div>
        {% endif %}
{% endblock %}