{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Item View {% endblock %}</h1>
    <h2>Item Details</h2>
        <div class='result'>
            {% if not result %}
                <p>No results found.</p>
            {% else %}
            {% for item in result %}
            <p><img src="{{ url_for('static', filename='/qrcodes/') }}{{ item.Product.product_code }}.png">
            <img src="{{ url_for('static', filename='/images/') }}{{ item.Product.code_name }}.png" class="img-responsive" style="width:500px"></p>
            <p>Product Type: {{ item.Product.type_of }}</p>
            <p>Product Name: {{ item.Product.name }}</p>
            <p>Acquired Date: {{ item.Product.in_date }}</p>
            <p>Console Model: {{ item.Console.model }}</p>
            <p>Board Revision: {{ item.Console.board }}</p>
            <p>Product Code: {{ item.Product.product_code }}</p>
            <p>Mods Installed: {{ item.Console.mods }}</p>
            {% if item.Product.is_sold == 0 %}
            <p>Product available for sale</p>
            {% else %}
            <p>Product sold.</p>
            {% endif %}
        </div>
        <div class="tools">
            <form method="POST">
            <h4>Tools</h4>
            {% if item.Product.is_sold == 0 %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="1" name="itemsold">
                    Mark this item as sold
                </label>
            </div>
            {% else %}
            <div class="checkbox disabled">
                <label>
                    <input type="checkbox" value="0" checked="checked" name="itemsold" disabled>
                    Mark this item as sold
                </label>
            
            </div>
            {% endif %}
            <br>
            <div>
                <h5>Add Mods</h5>
                {% if item.Product.is_sold == 0 %}
                <textarea name="mods" rows="5" cols="30">{{ item.Console.mods }}</textarea><br>
                {% else %}
                <textarea name="mods" rows="5" cols="30" disabled>{{ item.Console.mods }}</textarea><br>
                {% endif %}
            </div>

            <br>
            {% if item.Product.is_sold == 0 %}
            <button type="submit">Save Changes</button>
            {% else %}
            <button type="submit" disabled>Save Changes</button>
            {% endif %}
            <input type="submit" value="Delete Item" name="delete">
        </form>
        </div>
        {% endfor %}
        {% endif %}
{% endblock %}